@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #310b46;
    --background: 296 98.65% 98.32%;
    --foreground: 296 7.3% 0.64%;

    --muted: 296 7.3% 91.6%;
    --muted-foreground: 296 3.65% 41.6%;

    --popover: 296 31.6% 91.6%;
    --popover-foreground: 296 7.3% 0.8%;

    --card: 296 31.6% 91.6%;
    --card-foreground: 296 7.3% 0.8%;

    --border: 296 12.3% 89.64%;
    --input: 296 12.3% 89.64%;

    --primary: 296 73% 16%;
    --primary-foreground: 296 1.46% 91.6%;

    --secondary: 296 3.65% 95.8%;
    --secondary-foreground: 296 5.38% 11.6%;

    --accent: 296 3.65% 95.8%;
    --accent-foreground: 296 5.38% 11.6%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 296 73% 16%;

    /* --radius: 0.5rem; */
  }

  .dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #c471f5;

    --background: 295 56.55% 5.6%;
    --foreground: 295 8.7% 98.5%;

    --muted: 295 43.5% 21%;
    --muted-foreground: 295 8.7% 57%;

    --popover: 295 47.6% 9.1%;
    --popover-foreground: 295 8.7% 98.5%;

    --card: 295 47.6% 9.1%;
    --card-foreground: 295 8.7% 98.5%;

    --border: 295 43.5% 21%;
    --input: 295 43.5% 21%;

    --primary: 295 87% 70%;
    --primary-foreground: 295 8.7% 7%;

    --secondary: 295 43.5% 21%;
    --secondary-foreground: 295 8.7% 98.5%;

    --accent: 295 43.5% 21%;
    --accent-foreground: 295 8.7% 98.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 295 8.7% 98.5%;

    --ring: 295 87% 70%;
  }
}
html {
  overflow-x: hidden;
}
@layer utilities {
  /* Topbar */
  .topbar {
    @apply sticky top-0 z-50 md:hidden bg-dark-2 w-full;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
